* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #eceded;
}
header {
  background-color: #eceded;
  height: 60px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header img {
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
  background-color: rgb(239, 239, 240);
  margin-top: -20px;

  margin-left: 70px;
}

header h5 {
  background-color: rgb(239, 237, 237);
  margin-left: 10px;
  width: 100px;
  margin-right: 650px;
  font-size: 15px;
}

.appoint a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px;
  margin-right: 40px;
}
.appoint a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 14px;
  padding: 10px;
  margin-right: 30px;
}
header nav {
  margin-left: 70px;
}
.headera a {
  font-size: 13px;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 700px;
  margin-right: 0px;
}

.main-page {
  background-color: rgb(255, 255, 255);
  height: 650px;
  width: 96%;
  margin-left: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}
.left-container {
  width: 50%;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
.left-container h1 {
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  padding: 26px;
  height: 310px;
  margin-left: 150px;
}
.left-container p {
  font-weight: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 180px;
  margin-top: 88px;
}

.left-details {
  display: flex;
  justify-content: space-between;
}

.left-main {
  background-color: #f4f5f7;
  width: 250px;
  padding: 17px;
  margin-left: 190px;
  margin-top: 50px;
  border-radius: 40px;
  text-align: center;
  height: 130px;
  font-size: 20px;
}
.left-main h6 {
  margin: 15px;
}

.second {
  margin-bottom: 15px;
  background-color: #a9eaf7;
  width: 240px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 40px;
  text-align: center;
  margin-top: 50px;
  height: 130px;
  font-size: 10px;
  cursor: pointer;
}
.second:hover {
  background-color: #9beafa;
}

.second h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
}

.right-details {
  background-color: rgb(149, 192, 177);
}

.right-container {
  width: 45%;
  height: 550px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 480px;
}

.right-img img {
  width: 550px;
  border-radius: 50px;
}
.smain {
  background-color: rgb(255, 255, 255);
  height: 690px;
  width: 96%;
  margin-left: 30px;
  border-radius: 50px;
}

.main-img img {
  width: 280px;
  margin-right: 200px;
  border-radius: 50px;
  margin-top: 30px;
}
.second-body {
  margin-left: 30px;
  border-radius: 50px;
  margin-top: 30px;
  display: flex;
  height: 300px;
  background-color: rgb(255, 255, 255);
}
.heading1 h2 {
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 30px;
}
.second-para p {
  font-size: 23px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  width: 600px;
}
.all {
  width: 80%;
  margin-top: 50px;
}
.right-body {
  width: 320px;
  height: 340px;
  text-align: center;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 90px;
}
.right-body p {
  margin-top: 70px;
  padding: 30px;
  font-size: 20px;
}

.under {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 260px;
  padding: 30px;
  margin: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: space-between;
}
.div1 {
  height: 50px;
  background-color: #fef1f1;
  border-radius: 50px;
  height: 300px;
  margin-top: 70px;
  margin-right: 50px;
}

.div1:hover {
  background-color: #def4f8;
}

.div1 h3 {
  margin-top: 50px;
  margin-left: 30px;
}
.div1 p {
  width: 300px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.choose h4 {
  color: rgb(0, 0, 0);
  background-color: #9beafa;
  width: 150px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 20px;
}

.choose h4:hover {
  background-color: #d5d5d5;
  color: white;
}

.div2 {
  height: 50px;
  background-color: #f7fada;
  border-radius: 50px;
  height: 300px;
  margin-top: 70px;
  margin-right: 50px;
}

.div2:hover {
  background-color: #def4f8;
}
.div2 h3 {
  margin-top: 50px;
  margin-left: 30px;
}

.div3:hover {
  background-color: #def4f8;
}

.div2 p {
  width: 300px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.div3 {
  height: 50px;
  background-color: #d9e9ff;
  border-radius: 50px;
  height: 300px;
  margin-top: 70px;
  margin-right: 50px;
}
.div3 h3 {
  margin-top: 50px;
  margin-left: 30px;
}
.div3 p {
  width: 300px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.div4 {
  height: 50px;
  background-color: #d4ffdc;
  border-radius: 50px;
  height: 300px;
  margin-top: 70px;
  margin-right: 50px;
}

.div4:hover {
  background-color: #def4f8;
}

.div4 h3 {
  margin-top: 50px;
  margin-left: 30px;
}
.div4 p {
  width: 300px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.third-main {
  background-color: rgb(255, 255, 255);
  height: 650px;
  width: 95%;
  margin-left: 35px;
  border-radius: 50px;
  justify-content: space-between;
  padding: 30px;
  margin-top: 25px;
}

.doc h4 {
  color: rgb(0, 0, 0);
  background-color: #9beafa;
  width: 110px;
  padding: 10px;
  border-radius: 50px;
  margin-top: -1px;
  font-size: 14px;
}

.experts {
  height: 110px;
  width: 760px;
  padding: 1px;
  margin-top: 20px;
  margin-right: 60px;
}
.experts h3 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
  margin-right: 40px;
}

.third-2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 5 00px;
  gap: 10px;
  font-size: 17px;
}
.third-2 h4 {
  color: rgb(0, 0, 0);
  border-radius: 50px;
  background-color: #e5e5e5;
  padding: 10px;
  width: auto;
  font-weight: 1;
}
.imagess img {
  width: 300px;
  margin: 20px;
  margin-top: 30px;
  border-radius: 50px;
}

.definition {
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 20px;
  margin-bottom: 70px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-right: 130px;
  margin-left: 100px;
  color: black;
  font-size: 16px;
}

.fourth-main {
  background-color: rgb(255, 255, 255);
  height: 650px;
   width: 95%;
  margin-left: 35px;
  border-radius: 50px;
  justify-content: space-between;
  padding: 30px;
  margin-top: 30px;
}

.service-button h4 {
  color: rgb(0, 0, 0);
  background-color: #9beafa;
  width: 110px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 1px;
  font-size: 14px;
}

.serve h3 {
  color: rgb(0, 0, 0);

  width: 60%;
  font-size: 60px;
  padding: 20px;

  font-family: "Times New Roman", Times, serif;
}

.server2 {
  width: 30%;
  height: 200px;
  margin-top: 20px;
  font-size: 20px;
}

.fmain {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding-bottom: 20px;
}
.server2 h5 {
  background-color: black;
  border-radius: 50px;
  color: white;
  width: 180px;
  text-align: center;
  padding: 10px;
}

.imagesss img {
  width: 300px;
  margin: 20px;
  margin-top: 30px;
  border-radius: 50px;
}

.fifth-main {
  background-color: rgb(255, 255, 255);
  height: 650px;
 width: 95%;
  margin-left: 35px;
  border-radius: 30px;
  justify-content: space-between;
  padding: 30px;
  margin-top: 30px;
}

.ftest h4 {
  font-size: 16px;
  background-color: #9beafa;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  width: 110px;
  padding: 9px;
  font-weight: 1;
}
.patient h3 {
  font-size: 60px;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(255, 255, 255);
}

.feedback {
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.sec1 {
  background-color: #f4f5f7;
  width: 300px;
  border-radius: 50px;
}
.img-head1 {
  height: 90px;
  display: flex;
  align-items: center;
  width: 300px;
}

.img-head1 h5 {
  font-size: 15px;
  width: 120px;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: -75px;
}
.star1 {
  color: rgb(255, 217, 0);
  height: 20px;
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 40px;
}
.sec1 img {
  width: 50px;
  height: 50px;
  padding: 2px;
  margin-left: 20px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sec1para {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
}

.sec2 {
  background-color: #f4f5f7;
  width: 300px;
  border-radius: 50px;
}
.img-head2 {
  height: 90px;
  display: flex;
  align-items: center;
  width: 300px;
}

.img-head2 h5 {
  font-size: 15px;
  width: 120px;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: -75px;
}
.star2 {
  color: rgb(255, 217, 0);
  height: 20px;
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 40px;
}
.sec2 img {
  width: 50px;
  height: 50px;
  padding: 2px;
  margin-left: 20px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sec2para {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
}

.sec3 {
  background-color: #f4f5f7;
  width: 300px;
  border-radius: 50px;
}
.img-head3 {
  height: 90px;
  display: flex;
  align-items: center;
  width: 300px;
}

.img-head3 h5 {
  font-size: 15px;
  width: 120px;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: -75px;
}
.star3 {
  color: rgb(255, 217, 0);
  height: 20px;
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 40px;
}
.sec3 img {
  width: 50px;
  height: 50px;
  padding: 2px;
  margin-left: 20px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sec3para {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
}

.sec4 {
  background-color: #f4f5f7;
  width: 300px;
  border-radius: 50px;
}
.img-head4 {
  height: 90px;
  display: flex;
  align-items: center;
  width: 300px;
}

.img-head4 h5 {
  font-size: 15px;
  width: 130px;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: -75px;
}
.star4 {
  color: rgb(255, 217, 0);
  height: 20px;
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 40px;
}
.sec4 img {
  width: 50px;
  height: 50px;
  padding: 2px;
  margin-left: 20px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sec4para {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
}
.footer-container{
  display: flex;
   height: 160px;
  background-color: rgb(77, 77, 249);
  margin-top: 25px;
}

.footer-about{
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.footer-about h3{
padding-bottom: 13px;
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-about p{
color: white ;
width: 400px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-links{
  padding: 30px;
  color: white;
  margin-left: 120px;

}

.footer-links h4{
  font-size: 16px;
  padding-bottom: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-links  a{
  color: white;
  text-decoration:none;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
 

}
.footer-contact{
  
  padding: 18px;
  margin-left: 110px;
  margin-top: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-contact h4{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.footer-contact p{
  padding: 3px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.footer-socail{
  background-color: yellow;
  padding: 18px;
}
.footer-social h4{
  color: white;
  padding: 18px;
  margin-top:15px;
  margin-left: 108px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-social i{
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 20px;
  background-color: rgb(46, 88, 223)  ;
  border-radius: 20px;
  

}

.social-icons{
  margin-left: 100px;
}