*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{

    background-color: #eceded;
}
header{
    background-color:#eceded;
    height: 60px;
    font-size: 15px;
    display: flex;
    justify-content:space-between;
    padding: 20px;

}
header img{
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
    background-color: rgb(239, 239, 240);
    margin-top: -20px;
   
    margin-left: 70px;
}

header h5{
    background-color: rgb(239, 237, 237);
    margin-left: 10px;
    width: 100px;
margin-right: 650px;
    font-size: 15px;
}

.appoint a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: black;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px;
    margin-right: 40px;


}
.appoint a:hover
{
      color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 14px;
    padding: 10px;
    margin-right: 30px;
}
header nav{
margin-left: 70px;
}
.headera a{
    font-size: 13px;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 700px;
    margin-right: 0px; 
    
}
.headera a:hover{
    color: black;
    background-color: #c2c2c2;
    border-radius: 50px;
   padding: 10px;
}



.main-page{
    background-color: rgb(255, 255, 255);
    height: 650px;
    width: 96%;
    margin-left: 30px;
    border-radius:50px;
    display: flex;
    justify-content: space-between;

}
.left-container{
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
.left-container h1{
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
padding: 26px;
height: 310px;
margin-left: 150px;

}
.left-container p{
    font-weight: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:180px;
    margin-top: 88px;

}

.left-details{
    display: flex;
    justify-content: space-between;
}


.left-main{
    background-color:#f4f5f7 ;
    width:250px;
    padding: 17px;
    margin-left: 190px;
    margin-top: 50px;
    border-radius: 40px;
    text-align: center;
    height: 130px;
    font-size: 20px;

}
.left-main h6{
   margin: 15px;
}

.second{
    margin-bottom: 15px;
    background-color:#a9eaf7;
     width:240px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 40px;
    text-align: center;
    margin-top: 50px  ;
    height: 130px;
    font-size: 10px;
    cursor: pointer;
}
.second:hover{
    background-color:#9beafa ;
}

.second h3{
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
}


.right-details{
    background-color: rgb(149, 192, 177);
}

.right-container{
    width: 45%;
    height: 550px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 480px; 
   
    
}

.right-img img{
    width:550px;
    border-radius: 50px;
  

   
}